@{
    ViewData["Title"] = "Booking";
}

<div class="row justify-content-md-center">
    <div class="col-6">
        <div class="card">
            <div class="Select_movie">

                <h3>Select_movie</h3>
                             
                <div class="mb-3">
                    <label for="fullname" class="form-label">Change Movie:</label><br>
                    <select class="form-control" name="type">
                        <option value="777 charlie">777 charlie</option>
                        <option value="RRR">RRR</option>
                        <option value="KGF">KGF</option>
                        <option value="Kabaddi 4">Kabaddi 4</option> 
                    </select>
                </div>
               
               <div class="mb-3">
                    <label for="fullname" class="form-label">Screen:</label><br>
                    <select class="form-control" name="type">
                        <option value="Audi 1">Audi 1</option>
                        <option value="Audi 2">Audi 2</option>
                        <option value="Audi 3">Audi 3</option>
                        <option value="Audi 4">Audi 4</option>
                    </select>
                </div>
               <div class="mb-3">
                    <label for="fullname" class="form-label">Day:</label><br>
                    <select class="form-control" name="type">
                        <option value="SUN">SUN</option>
                        <option value="MON">MON</option>
                        <option value="TUE">TUE</option>
                        <option value="WED">WED</option>
                        <option value="THR">THR</option>
                        <option value="FRI">FRI</option>
                        <option value="SAT">SAT</option>
                    </select>
               </div>

               <div class="mb-3">
                    <label for="fullname" class="form-label">Show Time:</label>
                    <select class="form-control" name="type">
                       <input type="radio" id="Moring" name="Time" value="6:30 am" />
                       <label for="Mrg">6:30 am</label><br>
                       <input type="radio" id="Moring" name="Time" value="9:30 am" />
                       <label for="mrg">9:30 am</label><br>
                       <input type="radio" id="Day" name="Time" value="12:30 am" />
                       <label for="day">12:30 am</label>
                       <input type="radio" id="Day" name="Time" value="3:30 am" />
                       <label for="day">3:30 am</label>
                       <input type="radio" id="Night" name="Time" value="7:30 am" >
                       
                    </select>    
               </div>
                
                       <button type="submit" class="btn btn-success">Select Seat</button>
            </div>
                
        </div>

    </div>
</div>

