@{
    ViewData["Title"] = "Seatplan";
}


<div class="row justify-content-md-center"> 
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3>Seat Plan</h3>
                <img src="https://i.stack.imgur.com/tz7Md.png" alt="Seat_plan" width="600" height="200">
                <div class="mb-3">
                    <label for="fullname" class="form-label"> row A:</label><br>
                    <select class="form-control" name="type">
                        <option value="seat">1</option>
                        <option value="seat">2</option>
                        <option value="seat">3</option>
                        <option value="seat">4</option>
                        <option value="seat">5</option>
                        <option value="seat">6</option>
                        <option value="seat">7</option>
                        <option value="seat">8</option>
                        <option value="seat">9</option>
                        <option value="seat">10</option>
                        <option value="seat">11</option>
                        <option value="seat">12</option>
                    </select> 
                </div>  
                    <div> 
                    <label for="fullname" class="form-label"> row B:</label><br>
                    <select class="form-control" name="type">
                        <option value="seat">1</option>
                        <option value="seat">2</option>
                        <option value="seat">3</option>
                        <option value="seat">4</option>
                        <option value="seat">5</option>
                        <option value="seat">6</option>
                        <option value="seat">7</option>
                        <option value="seat">8</option>
                        <option value="seat">9</option>
                        <option value="seat">10</option>
                        <option value="seat">11</option>
                        <option value="seat">12</option>
                    </select>  
                </div>
                    <div>
                    <label for="fullname" class="form-label"> row C:</label><br>
                    <select class="form-control" name="type">
                        <option value="seat">1</option>
                        <option value="seat">2</option>
                        <option value="seat">3</option>
                        <option value="seat">4</option>
                        <option value="seat">5</option>
                        <option value="seat">6</option>
                        <option value="seat">7</option>
                        <option value="seat">8</option>
                        <option value="seat">9</option>
                        <option value="seat">10</option>
                        <option value="seat">11</option>
                        <option value="seat">12</option>
                    </select> 
                    </div>      
                    <div>
                    <label for="fullname" class="form-label"> row D:</label><br>
                    <select class="form-control" name="type">
                        <option value="seat">1</option>
                        <option value="seat">2</option>
                        <option value="seat">3</option>
                        <option value="seat">4</option>
                        <option value="seat">5</option>
                        <option value="seat">6</option>
                        <option value="seat">7</option>
                        <option value="seat">8</option>
                        <option value="seat">9</option>
                        <option value="seat">10</option>
                        <option value="seat">11</option>
                        <option value="seat">12</option>
                    </select> 
                    </div>
                    <div>
                    <label for="fullname" class="form-label"> row E:</label><br>
                    <select class="form-control" name="type">
                        <option value="seat">1</option>
                        <option value="seat">2</option>
                        <option value="seat">3</option>
                        <option value="seat">4</option>
                        <option value="seat">5</option>
                        <option value="seat">6</option>
                        <option value="seat">7</option>
                        <option value="seat">8</option>
                        <option value="seat">9</option>
                        <option value="seat">10</option>
                        <option value="seat">11</option>
                        <option value="seat">12</option>
                    </select> 
                    </div>
                    <div>
                    <label for="fullname" class="form-label"> row F:</label><br>
                    <select class="form-control" name="type">
                        <option value="seat">1</option>
                        <option value="seat">2</option>
                        <option value="seat">3</option>
                        <option value="seat">4</option>
                        <option value="seat">5</option>
                        <option value="seat">6</option>
                        <option value="seat">7</option>
                        <option value="seat">8</option>
                        <option value="seat">9</option>
                        <option value="seat">10</option>
                        <option value="seat">11</option>
                        <option value="seat">12</option>
                    </select> 
                    </div>
                    <div>
                    <label for="fullname" class="form-label"> row G:</label><br>
                    <select class="form-control" name="type">
                        <option value="seat">1</option>
                        <option value="seat">2</option>
                        <option value="seat">3</option>
                        <option value="seat">4</option>
                        <option value="seat">5</option>
                        <option value="seat">6</option>
                        <option value="seat">7</option>
                        <option value="seat">8</option>
                        <option value="seat">9</option>
                        <option value="seat">10</option>
                        <option value="seat">11</option>
                        <option value="seat">12</option>
                    </select> 
                    </div>
                    <div>
                    <label for="fullname" class="form-label"> row H:</label><br>
                    <select class="form-control" name="type">
                        <option value="seat">1</option>
                        <option value="seat">2</option>
                        <option value="seat">3</option>
                        <option value="seat">4</option>
                        <option value="seat">5</option>
                        <option value="seat">6</option>
                        <option value="seat">7</option>
                        <option value="seat">8</option>
                        <option value="seat">9</option>
                        <option value="seat">10</option>
                        <option value="seat">11</option>
                        <option value="seat">12</option>
                    </select> 
                    </div>
                    <div>
                    <label for="fullname" class="form-label"> row I:</label><br>
                    <select class="form-control" name="type">
                        <option value="seat">1</option>
                        <option value="seat">2</option>
                        <option value="seat">3</option>
                        <option value="seat">4</option>
                        <option value="seat">5</option>
                        <option value="seat">6</option>
                        <option value="seat">7</option>
                        <option value="seat">8</option>
                        <option value="seat">9</option>
                        <option value="seat">10</option>
                        <option value="seat">11</option>
                        <option value="seat">12</option>
                    </select>
                    </div> 
                    <div>
                    <label for="fullname" class="form-label"> row J:</label><br>
                    <select class="form-control" name="type">
                        <option value="seat">1</option>
                        <option value="seat">2</option>
                        <option value="seat">3</option>
                        <option value="seat">4</option>
                        <option value="seat">5</option>
                        <option value="seat">6</option>
                        <option value="seat">7</option>
                        <option value="seat">8</option>
                        <option value="seat">9</option>
                        <option value="seat">10</option>
                        <option value="seat">11</option>
                        <option value="seat">12</option>
                    </select> 
                    </div>
                <br>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</div>