@{
    ViewData["Title"] = "Shows";
}

<div class="row justify-content-md-center">
    <div class="col-6">
        <div class="card">
            <div class="Shows">

                <h3>Select_movie</h3>
                             
                <div>
                    <label for="fullname" class="form-label">Now Running</label><br>
                    <select class="form-control" name="type">
                        <option value="777 charlie">777 charlie</option>
                        <option value="RRR">RRR</option>
                        <option value="KGF">KGF</option>
                        <option value="Kabaddi 4">Kabaddi 4</option> 
                    </select>
                </div>
                <div>
                    <label for="fullname" class="form-label">Upcomming</label><br>
                    <select class="form-cssontrol" name="type">
                        <option value="Movie">x-man</option>
                        <option value="Movie">Hitman</option>
                        <option value="movie">Don3</option>
                        <option value="movie">Hero 4</option> 
                    </select>
                </div>
                <P>Click To view more about selected movies</P>

               
                
                       <button type="submit" class="btn btn-success">Details</button>
            </div>
                
        </div>

    </div>
</div>

