@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@{
    var age = 23;

}
<div class="row justify-content-md-center">
    <div class="col-8">
        <h2>your age=@age</h2>
        <h3>@massage</h3>
        <hr/>
        
    </div>
</div>