@{
    ViewData["Title"] = "Add New Book";
}

    <div class="col-8">
        <h3>Add New Book</h3>
        <hr/>
        <form method="post">
            <div class="mb-3">
                <label for="bookname" class="form-label">Enter Book Name:</label>
                <input type="text" class="form-control" id="bookname">
            </div>

            <hr />
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
